In [28]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [16]:
df = pd.read_csv('data.csv')
df['agreement'] = df['Agreement (0=complete disagreement; 5=complete agreement)'] 
df['pid'] = df['participant'].astype(str) + '_' + df['group'].astype(str)
df.head()

,group,participant,subscale,item,Agreement (0=complete disagreement; 5=complete agreement),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,agreement,pid
0,Moroccan,1,PAST,1. Para mí son muy importantes las tradiciones...,4,NaN,NaN,NaN,NaN,NaN,4,1_Moroccan
1,Moroccan,1,PAST,2. Los jóvenes deben conservar las tradiciones,4,NaN,NaN,NaN,NaN,NaN,4,1_Moroccan
2,Moroccan,1,PAST,3. Creo que las personas eran más felices hace...,5,NaN,NaN,NaN,NaN,NaN,5,1_Moroccan
3,Moroccan,1,PAST,4. La juventud de hoy en día necesita mantener...,2,NaN,NaN,NaN,NaN,NaN,2,1_Moroccan
4,Moroccan,1,PAST,5. Los ancianos saben más que los jóvenes,4,NaN,NaN,NaN,NaN,NaN,4,1_Moroccan

In [35]:
for p, group in df.groupby(['pid']):
    print(len(group))

21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21

In [33]:
output = {}
for (participant, scale), group in df.groupby(['pid', 'subscale']):
    culture = group['group'].iloc[0]
    if culture not in output:
        output[culture] = {}
    if scale not in output[culture]:
        output[culture][scale] = []
    output[culture][scale].append(np.mean(group['agreement'].values))

In [34]:
stats.ttest_ind(output['Moroccan']['PAST'], output['young Spaniard']['PAST'])

TtestResult(statistic=4.003397990135648, pvalue=0.00014131114008345195, df=78.0)

In [36]:
stats.ttest_ind(output['Moroccan']['FUTURE'], output['young Spaniard']['FUTURE'])

TtestResult(statistic=-3.3636533157451396, pvalue=0.0011947440286590285, df=78.0)